body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Container{
    width: 100%;
    height: auto;
   /*margin-left: auto;
    margin-right: auto;*/
    margin-top: 11px;
}

#Header{
    height: 150px;
    background-color: #CCC;
}

#Menu{
    height: 60px;
    background-color: #666;
}

#SideBar{
    width: 25%;
    height: 400px;
    background-color: #0C0;
    float: right;
}

#MainBody{
    width: 75%;
    height: 400px;
    background-color: #03C;
    float: left;
}