body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
	display: block;
    width: 100%;
	background-color: #006A00;
	height: 100%;
}

button, a{
    font-weight: 700;
}

#Container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#Header{
    height: 150px;
    background-color: #006A00;
    margin-top: 0px;
}

/*#Employers{
	width:98%;
    margin-top: 0px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}

#City{
	width:98%;
    margin-top: 0px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}
#About{
	width:98%;
	padding-left: 5px;
	padding-right: 10px;
    margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}*/
/*#ExtraPics{
    margin: 5px;
    float: left;
    width: 23%;
	height: 23%;
}

#ProfilePic{
    margin: 10px;
    float: right;
    width: 25%;
	height: 25%;
}

#Employer{
	padding-left: 5px;
   `width: 74%;
    height: auto;
	min-height: 100%;
	background-color: #006A60;
    float: right;
	border: 4px solid #fff;
	border-radius: 5px;
}*/


#SideBar{
	display: block;
    /*width: 25%;*/
	height: auto;
    padding-top: 10px;
	position: fixed; /*relative;*/
	padding-bottom: 68px;
    background-color: #006A00;
    list-style-type: none;
    float: left; 
	
}
#ScrollBar{
	
    width: 25%;
	height: auto;
	position: fixed;
	
}

#SideBar li a {
    border: 2px solid #fff; /* Add a border to all links */
    width: 80%;
    margin-top: -2px; /* Prevent double borders */
    margin-left: 6%;
    background-color: #006A00; /* Grey background color */
    border-radius: 5px;
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: #fff; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */

}
 
#SideBar li a:hover:not(.header) {
   background-color: #fff; /* Add a hover effect to all links, except for headers */
   color: #006A00;
}

#MainBody{
    width: 75%;
	background-color: #006A00;
	margin-left: auto;
	margin-right: auto;
    float: right;
	height: 100%;
}

#banner{
	margin-left: 10px;
    width: 450px;
    height: 170px;
    display: inline-block;
}

#ProfilePic{
	width: 100%;
	height: 20%;
	background-color: #006A00;
	margin-right: 5px;
}

#Employer{
	width: 100%;
	height: 20%;
	background-color: #006A00;
	padding-left: 5px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}

#City{
	width: 100%;
	height: 20%;
	background-color: #006A00;
	padding-left: 5px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}

#About{
	width: 100%;
	height: 20%;
	background-color: #006A00;
	padding-left: 5px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 200px;
}
/*
#but{
	float: right;
	
}
*/

/* Popup Content */
#login_pop_inner{
    background-color: #006A00; /* change this later */
    color: #fff;
    border-radius: 15px;
    padding-top: 5px;
    margin: 5px auto; /* 15% from the top and centered */
    border: 2px solid #000;
    width: 27.5%; /* Could be more or less, depending on screen size */
    height: auto;
}

.popup-content{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container input{
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    font-size: 14px;
    outline: none;
    width: 94%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.container button,.welcome button{
  background: #006A00;
  margin-top: 10px;
  font-size: 14pt;
  margin-left: 3%;
  /*margin-right: -.6%;*/
  margin-bottom: 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  width: 45%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.container button:hover, .welcome button:hover{
  background: #fff;
  color: #006A00;
  cursor: pointer;
}

.close{
    /* Position it in the top right corner outside of the modal */
    /* NOTE DYLAN DOES NOT LIKE THE X THERE */
    /*position: absolute;
    right: 25px;
    top: 0; */
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover{
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
#edit{
	width: 15%;
	float: right;
	padding-right: 0px;
}


